cargo-call-stack/example/target/*

cargo-call-stack/example/target/debug/*

cargo-call-stack/example/target/release/*

cargo-call-stack/target/*

VSCodeUI/rust-code-visualizer/node_modules/*
VSCodeUI/rust-code-visualizer/node_modules/.bin/*
**/node_modules
node_modules